body *{
  font-family:Trebuchet MS, sans-serif;
  
}
body{
  background:antiquewhite ;
  text-align: center;
  margin: 100px;
  
}

@media only screen and (max-device-width: 900px) {
#container { width:100%; } 
}


#Ingredientes{
 
  margin: auto 200px;
  
}

#Ingredientes {
text-align: left;
}

#Ingredientes h2{
text-align: center ;
}

#dica H2{
  color: red;
}
#dica {
  border: 2px solid black;
  border-radius: 10px;
  margin: auto 200px;
}

footer{
  text-align: center;
}