body *{
  font-family: "Inter", sans-serif;
  
}
body{
  background:antiquewhite ;
  text-align: center;
  margin: 70px 10px  ;
 

}


#Ingredientes{
  
  margin: auto 200px;
  
}

#dica H2{
  color: red;
}
#dica {
  border: 2px solid black;
  border-radius: 10px;
  margin: auto 200px;
}

footer{
  text-align: center;
}